
  /* .block{
	float: center;
    width: 25%;
    height:6.5cm;
    border: 1px solid rgb(5, 5, 5);
    background-color: red;
	padding: 10px;
	box-sizing: border-box;
	margin-right: 4.167%;
    margin-left: 4.167%;
    margin-top: 3%;
    margin-bottom: 3%;


} */


/* .block button {
    background-color: red;
    color: rgb(8, 8, 8);
    padding: 14px 20px;
   
    text-align: center;
    display: block;
    margin: 0 auto;
    border: none;
    cursor: pointer;
    width: 100px;
    
  }
   */
  /* .block button:hover {
    opacity: 0.8;
  } */